[Unit]
Description=Rclone sync service for Google Drive

[Service]
Type=oneshot
ExecStart=/usr/bin/rclone sync /home/ryan/Undergrad gdrive: /home/ryan/gdrive/Ryan/Undergrad
